html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  font-size: 1rem;
  font-family: prompt;
  font-weight: 300;
  background-color: rgb(22, 28, 36);
}

a {
  text-decoration: none;
}